@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {          /*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;               /*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;          /*合并外边线*/
}


body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";   /*宋体，Unicode，统一码*/
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

.w {
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none;
}


/*top-nav start*/
.top-nav {
    height: 30px;
    line-height: 30px;

    background-color: #e8e8e7;
}

.top-nav-right .top-nav-right-fore,
.top-nav-send {
    height: 30px;
    padding: 0 25px 0 10px;
    position: relative;
}

.top-nav-right-fore i,
.top-nav-send i {
    position: absolute;
    top: 12px;
    right: 5px;
    font: 400 12px/15px "consolas";
    width: 15px;
    height: 6px;
    overflow: hidden;
}
.top-nav-right-fore i s,
.top-nav-send i s {
    position: absolute;
    left: 0;
    top: -6px;
}

.top-nav-right-fore:hover,
.top-nav-send:hover {
    background-color: #fff;
}

.top-nav-right li {
    float: left;
    padding: 0 10px;
}

.top-nav-right-reg {
    color: #C81623;
}

.top-nav-right .top-nav-right-line {
    width: 1px;
    height: 12px;
    padding: 0;
    background-color: #ddd;
    margin-top: 9px;
}

.top-nav-right .jd-tel {
    padding-left: 25px;
    position: relative;
}

.tel-icon {
    position: absolute;
    top: 5px;
    left: 6px;
    width: 15px;
    height: 20px;
    background: url("../img/jd2015img.png");
}

/*top-nav end*/


/*top-banner start*/
.top-banner {
    height: 80px;
    background: #8b25c6;
}

.top-banner-box {
    position: relative;
}

.top-banner-sale {
    position: absolute;
    top: 0;
    right: 0;
    background: url("../img/close.png");
    height: 19px;
    width: 19px;
}

.top-banner-sale:hover {
    background-position: 0 -19px;
}
/*top-banner end*/


/*top-search start*/
.top-search {

}

.top-search-logo {
    width: 362px;
    height: 60px;
    padding: 20px 0;
    float: left;
    position: relative;
}

.top-search-logo-a {
    display: block;
    width: 270px;
    height: 60px;
    background: url("../img/jd-logo.png") no-repeat;
}

.top-search-logo-dong {
    width: 180px;
    height: 80px;
    position: absolute;
    top: 10px;
    right: 15px;
    background: url("../img/dong.gif");

}

.top-search-input {
    margin-top: 25px;
    width: auto;
    float: left;
    background-color: blue;
}

.top-search-input input {
    width: 446px;
    height: 24px;
    border: 2px solid #b61d1d;
    padding: 4px;
    font: 14px/24px "microsoft yahei";
    color: #999;
    float: left;
}

.top-search-input button {
    height: 36px;
    width: 80px;
    background: #b61d1d;
    float: left;
    font: 400 16px/36px "microsoft yahei";
    color: #ffffff;
    cursor: pointer;
}

.top-search-car {
    position: relative;
    margin: 25px 65px 0 0;
    width: 96px;
    height: 34px;
    line-height: 34px;
    float: right;
    background-color: #f7f7f7;
    border: 1px solid #dddddd;
    padding-left: 43px;
}

.top-search-car .icon-car {
    position: absolute;
    top: 9px;
    left: 12px;
    width: 18px;
    height: 16px;
    background: url("../img/jd2015img.png") no-repeat;
    background-position: 0 -90px;
}

.top-search-car .icon-car-arrow {
    position: absolute;
    top: 11px;
    right: 8px;
    font: 400 13px "simun";
}

.top-search-car .icon-car-nums {
    position: absolute;
    top: -5px;
    width: 16px;
    height: 14px;
    line-height: 14px;;
    text-align: center;
    background: #b61d1d;
    border-radius: 7px 7px 7px 0;
    color: #fff;
}

.top-search-more {
    width: 490px;
    height: 28px;
    line-height: 28px;
    float: left;
    font-size: 0;
}
.top-search-more a {
    margin-right: 10px;
    font-size: 12px;
}

.top-search-more a:first-child {
    color: #b61d1d;
}

/*top-search end*/


/*footer start*/
.footer-services-slogan {
    padding: 20px 0;
    height: 64px;
    background-color: #f2f2f2;
    position: relative;
}

.footer-services-slogan .slogan {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 302px;
    height: 54px;
}

.footer-services-slogan .slogan1 {
    margin-left: -608px;
 }

.footer-services-slogan .slogan2 {
    margin-left: -304px;
}

.footer-services-slogan .slogan4 {
    margin-left: 304px;
}

.footer-services-detail .detail-shopping {
    width: 199px;
    float: left;
    margin-top: 20px;
}

.footer-services-detail .detail-shopping dt,
.footer-services-area .area-title {
    height: 36px;
    font: 400 16px/36px 'microsoft yahei';
}

.footer-services-detail .detail-shopping dd {
    height: 20px;
    font: 12px/20px 'simsum';
}

.footer-services-detail .detail-shopping:last-child {
    width: 100px;
}

.footer-services-area {
    width: 186px;
    height: 170px;
    float: right;
    background: url("../img/china.png") no-repeat;
    background-position: left bottom;
    margin-right: 40px;
    margin-top: 20px;
    padding-left: 18px;
}

.footer-services-area .area-content {
    margin-top: 18px;
}

.footer-services-area .area-content p {
    line-height: 18px;
}

.footer-services-area .area-content a {
    float: right;
    right: 0;
}

.footer-info {
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
    text-align: center;
    padding: 22px 0;
}

.footer-info a {
    margin: 0 5px;
}

.footer-info .copyright {
    margin: 15px 0;
    line-height: 1.5;
}

.footer-info .sites img {
    margin-right: 10px;
}
/*footer end*/
